.active-link:hover {
  color: #0056b3;
  text-decoration: none;
}

.active-title {
  padding-top: 16px;
  padding-bottom: 3px;
  padding-left: 15px;
  margin-bottom: 0;
  background: #f7f8fa;
}
.active-title__son {
  font-size: 14px;
  color: #98999b;
  margin: 0;
}

.accordion .card .card-header {
  padding: 15px 20px;
  background: #f7f8fa;
}

.son-title {
  color: #a3a4a6;
  font-size: 14px;
  padding-left: 21px;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
}
.body-title {
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 3px;
  padding-left: 15px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}
.body-list {
  font-size: 14px;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

.active-message {
  color: #a3a4a6;
  font-size: 14px;
  padding-left: 21px;
  padding: 15px 20px;
  padding-left: 21px;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
}
